@page "/Create"
@attribute [Authorize]
@using MyIdWeb.Models
@using System.Text.Json
@inject AuthenticationStateProvider authProvider
@inject ISecretData secretData
@inject IUserData userData
@inject NavigationManager navManage
@rendermode InteractiveServer

<h1>Add A Secret</h1>

<div>
    <div>
        <div>
            <button @onclick="ClosePage"></button>
        </div>
        <EditForm Model="secret" OnValidSubmit="SaveSecret">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <label for="site">Site</label>
                <InputText id="site" @bind-Value="secret.Site" />
            </div>
            <div>
                <label for="user">User</label>
                <InputText id="user" @bind-Value="secret.UserName" />
            </div>
            <div>
                <label for="password">Password</label>
                <InputText id="password" @bind-Value="secret.Password" />
            </div>
            <div>
                <label for="memo">Memo</label>
                <InputText id="memo" @bind-Value="secret.Memo" />
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private CreateSecretModel secret = new();
    private UserModel loggedInUser = new();

    protected override async Task OnInitializedAsync()
    {
        loggedInUser = await authProvider.GetUserFromAuth(userData);
    }

    private void ClosePage()
    {
        navManage.NavigateTo("/main");
    }

    private async Task SaveSecret()
    {
        SecretModel s = new();
        s.Payload = JsonSerializer.Serialize(secret);  //TODO Encrypt
        s.UserIds.Add(loggedInUser.Id);
        await secretData.CreateSecret(s, loggedInUser);
        secret = new();
        ClosePage();
    }
}
