@page "/Create"
@page "/Create/{secretId}"
@attribute [Authorize]
@using MyIdWeb.Models
@using System.Text.Json
@inject AuthenticationStateProvider authProvider
@inject ISecretData secretData
@inject IUserData userData
@inject NavigationManager navManage
@rendermode InteractiveServer

@if (string.IsNullOrWhiteSpace(secretId))
{
    <h1>Add A Secret</h1>
}
else
{
    <h1>Secret Details</h1>
}
<div>
    <div>
        <div>
            <button @onclick="ClosePage"></button>
        </div>
        <EditForm Model="secret" OnValidSubmit="SaveSecret">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <label for="site">Site</label>
                <InputText id="site" @bind-Value="secret.Site" />
            </div>
            <div>
                <label for="user">User</label>
                <InputText id="user" @bind-Value="secret.UserName" />
            </div>
            <div>
                <label for="password">Password</label>
                <InputText id="password" @bind-Value="secret.Password" />
            </div>
            <div>
                <label for="memo">Memo</label>
                <InputText id="memo" @bind-Value="secret.Memo" />
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string secretId { get; set; }
    private SecretDetailModel secret = new();
    private SecretModel s = new();
    private UserModel loggedInUser = new();

    protected override async Task OnInitializedAsync()
    {
        loggedInUser = await authProvider.GetUserFromAuth(userData);
        if (!string.IsNullOrWhiteSpace(secretId))
        {
            s = await secretData.ReadSecret(secretId.ToString(), loggedInUser);
            //TODO - check if s is valid and belongs to current user
            secret = JsonSerializer.Deserialize<SecretDetailModel>(s.Payload);
        }
    }

    private void ClosePage()
    {
        navManage.NavigateTo("/main");
    }

    private async Task SaveSecret()
    {
        if (string.IsNullOrWhiteSpace(secretId))
        {
            SecretModel s = new();
            s.Payload = JsonSerializer.Serialize(secret);
            s.UserIds.Add(loggedInUser.Id);
            await secretData.CreateSecret(s, loggedInUser);
        }
        else
        {
            s.Payload = JsonSerializer.Serialize(secret);
            await secretData.UpdateSecret(s, loggedInUser);
        }
        secret = new();
        ClosePage();
    }
}
